<title>{{title}}</title>
<meta name="description" content="{{description}}">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="manifest" href="/manifest.json?v=Gvbo8lvEnz">
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png?v=Gvbo8lvEnz">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png?v=Gvbo8lvEnz">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png?v=Gvbo8lvEnz">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg?v=Gvbo8lvEnz" color="#5bbad5">
<link rel="shortcut icon" href="/favicons/favicon.ico?v=Gvbo8lvEnz">
<meta name="msapplication-TileColor" content="#02c39a">
<meta name="msapplication-config" content="/browserconfig.xml?v=Gvbo8lvEnz">
<meta name="theme-color" content="#02c39a">

<link rel="preconnect" href="https://www.google-analytics.com">
<link rel="stylesheet" type="text/css" href="{{asset '/css/styles.min.css'}}">

<!-- Origin Trial Token, feature = Web Share, origin = https://pwa-directory.appspot.com, expires = 2016-12-06 -->
<meta http-equiv="origin-trial" data-feature="Web Share" data-expires="2016-12-06"
  content="AuNW4MmMk4aT1N9HPDpSlUPkBywNReGpXpbTC+9nOE/rv6W6mToe7J1ZSmz35g+6BbPzjmE9gpBTZOrb2aXf6gwAAABgeyJvcmlnaW4iOiAiaHR0cHM6Ly9wd2EtZGlyZWN0b3J5LmFwcHNwb3QuY29tOjQ0MyIsICJmZWF0dXJlIjogIldlYlNoYXJlIiwgImV4cGlyeSI6IDE0ODEwNDQyMDJ9">

<script id="config" type="application/json">
{{{configstring}}}
</script>
<script src="{{asset '/js/main.js'}}" defer></script>

{{> metadata}}
